  .bg-1 { 
      background-color: #1abc9b;
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid-news {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 70px;
      padding-right: 70px;
  }

  footer 
{
  background: -webkit-linear-gradient(90deg, #000000 20%, #474e5d 80%);
  padding: 25px;
}