 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    
}    
    /* Add a gray background color and some padding to the footer */
    footer {
      background: -webkit-linear-gradient(90deg, #5F5E5E 20%, #292828 80%);
      padding: 25px;
    }

    body {
   /* background-image: url("http://ivansbgtattoo.webcindario.com/images/fondo/parque.jpg");
    */background-color: #292828;
}

.a {

  color:white;
}

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }