
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    
}    
footer 
{
  background: -webkit-linear-gradient(90deg, #000000 20%, #03567A 80%);
  padding: 25px;
}

body {
  background: -webkit-linear-gradient(270deg, #000000 20%, #03567A 80%)
}

.a {

  color:white;
}

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

  .user{
  width:200px; 
  height:200px;
  border-style: solid; 
  border-width: 3px; 
  border-color: white;
  border-radius: 100px;
}
